@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;500;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono';
  line-height: 1.6;
  font-size: 18px;
  color: white;
  background-color: rgb(255, 248, 233);
  justify-content: center;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

