.profile {
    width: 25vw;
    height: 25vw;
    border-radius: 30vw;
    margin-left: 10vw;
}
.space {
    height: 35vh;
    display: block;
}
.textContainer {
    width: 40vw
}
.bigText {
    display: inline;
    font-size: 4vw;
    color: #aa98b6;
}
.littleText {
    color: #aa98b6;
    margin-bottom: 200px;
}
.homePage {
    padding: 15vh 10vw 0 10vw;
}
.introRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* PORTFOLIO */
.projectLinkContainer {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 100px;
}
.thumbnailFrame {
    width: 350px;
    height: 350px;
    margin: 40px;
    display: inline-block;
    overflow: hidden;
}
.thumbnailImage {
    width: 350px;
    height: 350px;
}

/* PROJECTS */
.projectContainer {
    margin-top: 100px;
    width: 90%;
    color: #aa98b6;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.projectInfo {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.projectHeaderImageFrame {
    height: 200px;
    display: inline-block;
    overflow: hidden;
}
.projectHeaderImage {
    height: 14vw;
    width: 100%;
    object-fit: cover;
    object-position: 0 48%;
}
.projectDescription {
    padding: 5vw 20vw;
}

/* EXPERIENCE */
.experienceContainer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.experienceLogo {
    width: 20vw;
    height: auto;
}
.timeLine {
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    color: #aa98b6;
    padding: 100px 0 100px 0
}
.timeLine ul {
    list-style: none;
}
.timeLine ul li {
    padding: 20px;
    border-color:  #aa98b6;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 40px;
    width: 90%;
}
.timeLine ul li:last-child {
    margin-bottom: 0;
}
.timeLineContent div {
    font-size: 12px;
}
@media only screen and (min-width: 768px){
    .timeLine:before {
        content: '';
        position: absolute;
        height: 90%;
        width: 7px;
        background-color: #aa98b6;
        left: 50%;
        transform: translateX(50%)
    }
    .timeLine ul li {
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    .timeLine ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-50px);
    }
    .timeLine ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(30px);
    }
    .timeLine ul li:after {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: #aa98b6;
        top: 0;
    }
    .timeLine ul li:nth-child(odd):after {
        transform: translateX(50%, -50%);
        right: -52px;
    }
    .timeLine ul li:nth-child(even):after {
        transform: translateX(-50%, -50%);
        left: -58px;
    }
    .timeLineDate {
        position: absolute;
        top: -60px;
        color: #aa98b6;
    }
}

/* CONTACT */
.contactContainer {
    color: #aa98b6;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactContainer h4 a {
    text-decoration: none;
    color: #aa98b6;
}
.contactContainer h4 {
    margin: 5px;
    font-weight: 500;
}
