.profile {
    width: 30vw;
    height: 30vw;
    border-radius: 30vw;
}
.space {
    height: 35vh;
    display: block;
}
.bigText {
    display: inline;
    font-size: 6vw;
    color: #aa98b6;
}
.homePage {
    padding: 25vh 10vw 0 10vw;
}

/* PORTFOLIO */
.projectContainer {
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 150px;
}
.thumbnailFrame {
    width: 350px;
    height: 350px;
    margin: 40px;
    overflow: hidden;
}
.thumbnailImage {
    width: 350px;
    height: 350px;
    margin: 40px 0 40px 0;
}

/* EXPERIENCE */
.experienceContainer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.experienceLogo {
    width: 20vw;
    height: auto;
}
.timeLine {
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    color: #846257;
    padding: 100px 0 100px 0
}
.timeLine ul {
    list-style: none;
}
.timeLine ul li {
    padding: 20px;
    border-color:  #846257;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 40px;
    width: 90%;
}
.timeLine ul li:last-child {
    margin-bottom: 0;
}
.timeLineContent div {
    font-size: 12px;
}
@media only screen and (min-width: 768px){
    .timeLine:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 7px;
        background-color: #846257;
        left: 50%;
        transform: translateX(50%)
    }
    .timeLine ul li {
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    .timeLine ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-50px);
        border-radius: 20px 0 20px 20px;
    }
    .timeLine ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0 20px 20px 20px;
    }
    .timeLine ul li:after {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: #846257;
        top: 0;
    }
    .timeLine ul li:nth-child(odd):after {
        transform: translateX(50%, -50%);
        right: -52px;
    }
    .timeLine ul li:nth-child(even):after {
        transform: translateX(-50%, -50%);
        left: -58px;
    }
    .timeLine ul li:hover:after {
        background-color: #aa98b6;
    }
    .timeLineDate {
        position: absolute;
        top: -60px;
    }
}
