.testDiv {
  background-color: blue;
  height: 50px;
  width: 50px;
}
.profile {
  width: 27vw;
  height: 27vw;
  border-radius: 30vw;
  margin-left: 10vw;
  transition: all 0.2s ease-in-out;
}
.profile:hover {
  transform: scale(1.2);
}
.space {
  height: 35vh;
  width: 27vw;
  display: block;
}
.textContainer {
  width: 45vw;
}
.bigText {
  display: inline;
  font-size: 8vw;
  color: #403549;
}
.bigText:hover {
  color: #f9f7f6;
  text-shadow: 0px 0px 5px #f9f7f6;
}
.littleText {
  color: #403549;
}
.resumeButton {
  margin-top: 100px;
}
.homePage {
  padding: 15vh 10vw 0 10vw;
}
.introRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* RESUME BUTTON */
.button59 {
  align-items: center;
  background-color: rgb(255, 248, 233);
  border: 2px solid #403549;
  box-sizing: border-box;
  color: #403549;
  cursor: pointer;
  display: inline-flex;
  fill: #403549;
  font-family: "JetBrains Mono";
  font-size: 18px;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.2s ease-in-out;
}

.button59:hover {
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .button59 {
    min-width: 170px;
  }
}

/* PORTFOLIO */
.projectLinkContainer {
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 100px;
}
.thumbnailFrame {
  width: 350px;
  height: 350px;
  margin: 40px;
  display: inline-block;
  overflow: hidden;
}
.thumbnailImage {
  width: 350px;
  height: 350px;
}

/* PROJECTS */
.projectContainer {
  margin-top: 100px;
  width: 90%;
  color: #403549;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.projectInfo {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
.projectHeaderImageFrame {
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.projectHeaderImage {
  height: 14vw;
  width: 100%;
  object-fit: cover;
  object-position: 0 48%;
}
.projectDescription {
  padding: 5vw 20vw;
}

/* EXPERIENCE */
.experienceContainer {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experienceLogo {
  max-height: 30px;
}
.timelineList {
  width: clamp(50%, 500px, 90%);
  height: auto;
  margin: 0 auto;
  color: #403549;
  list-style: none;
}
.timelineItem {
  padding: 10px;
  margin-bottom: 20px;
}
.timelineContent {
  color: #403549;
  font-size: 12px;
}
.timelineDate {
  font-size: 12px;
}
.timelineRole {
  font-size: 14px;
}

/* CONTACT */
.contactContainer {
  color: #403549;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactContainer h4 a {
  text-decoration: none;
  color: #403549;
}
.contactContainer h4 {
  margin: 5px;
  font-weight: 500;
}
.contactContainer h4 i {
  width: 3em;
  height: 3em;
}
